# exclude everything except directory
ConvtoLef/output/*
pinLayouts_cfet_v2.1/*
inputsSMT_cfet/*
CFET/PNR_4.5T_Extend2/RUN_cfet/*
CFET/PNR_4.5T_Extend2/pinLayouts_cfet/*
CFET/PNR_4.5T_Extend/RUN_cfet/*
CFET/PNR_4.5T_Extend/pinLayouts_cfet/*
CFET/PNR_4.5T_Extend/list_cfet_all